<% @page_title = "Secchi Depth Samples" %>

<div class="media">
<div class="media-body">
<div id="sample-form", style="display:none;"></div>
<div class="page-header">
  <h1>Secchi Samples</h1>
  <%= link_to 'New Secchi Depth', :root, class: 'new-button btn btn-mini btn btn-success'  %>
</div>


<table class="table" style="collapse;">
<col width="100">
  <thead>
    <tr>
      <th></th>
      <th> Lake </th>
      <th> Time </th>
      
    </tr>
  </thead>
  <tbody id="secchis">
    <%= render @secchis %>
  </tbody>
</table>
</div>
</div>

<br>


