<% @page_title = "WaterLog" %>
<div class="page-header">
  <h1>WaterLog</h1>
</div>
<div id="sample-form", style="display:none;"></div>
<div class="media">
<div class="media-body">
<table class="table">
  <thead>
    <tr>
      <th>Take Sample</th>
      <th>Lake</th>
    </tr>
  </thead>

  <tbody>
    <% @lakes.each do |lake| %>
      <tr>
        <td>
        <div class="btn-group-vertical">
          <%= link_to('Secchi', {:action => 'new', :controller =>'secchis', :lake_id => lake.id}, class: 'btn btn-info', remote: true) %>
        

        
          <%= link_to('Chlorophyll', {:action => 'new', :controller =>'chloros', :lake_id => lake.id}, class: 'btn btn-primary', remote: true) %>
        

        
          <%= link_to('Phosphorus', {:action => 'new', :controller =>'phosphos', :lake_id => lake.id}, class: 'btn btn-info', remote: true) %>
          </div></td>

          <td><%= lake.lkname %></td>

      </div></tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>


